@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Title.</h3>
<h3>@ViewBag.Message</h3>


<address>
    <strong>Email:</strong>   <a href="mailto:shoaibapece@gmail.com">shoaibapece@gmail.com</a>
</address>